{% extends "base.html" %}
{% block content %}
        <h1>
            Alinear y estimar abundancia
        </h1><br><br>
        <div id='pairedform'>
            <form id='formpaired' action="/run/abundancia/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_reference">Archivo de referencia:</label>
                    <select class="form-control" id="id_reference" name="reference"  required>
                        <option value="">seleccione un archivo</option>
                        {% for f in fastaList %}
                            <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="id_lreads">Archivo de ecturas izquierdas:</label>
                            <select class="form-control" id="id_lreads" name="lreads" multiple required>
                                {% for f in fastqList %}
                                    <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="id_rreads">Archivo de lecturas derechas:</label>
                            <select class="form-control" id="id_rreads" name="rreads" multiple required>
                                {% for f in fastqList %}
                                    <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <input type='hidden' name='mapping' id='id_mapping' value='1'>
                <input type='hidden' name='type' id='id_type' value='2'>
                <button type="submit" class="btn btn-default">Enviar</button>
            </form>
        </div>

{% endblock %}