<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="http://bioinfud.com/DifExp/bootstrap.min.css"/>
    <!-- Optional theme -->  
    <title>{% block title %}KmerCountersToolKit (KCTK){% endblock %}</title>
        <!-- Latest compiled and minified JavaScript and JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">KCTK</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse  pull-right" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% if not user.is_authenticated %}
                    <li>
                    <a href="/register/">Registrarse</a>
                    </li>
                    <li><a href="/login/">Acceder</a></li>
                {% else %}
                <span></span>
                    <li  class="active" ><a href="#" style="cursor:default">Bienvenido, {{user.profile.firstName}}</a>  </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout/">Salir</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        </div>
    </div>
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="/">Home</a></li>
                <li ><a href="/process/show/">Procesos</a></li>
                <li ><a href="/files/">Archivos</a></li>
                <li class="dropdown open">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Herramientas <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 100%;display:block;">
                        <li><a href="/tools/bfcounter">BFCounter</a></li>
                        <li><a href="/tools/dsk">DSK</a></li>
                        <li><a href="/tools/jellyfish">Jellyfish</a></li>
                        <li><a href="/tools/kanalyze">KAnalyze</a></li>
                        <li><a href="/tools/kmc2">KMC 2</a></li> 
                        <li><a href="/tools/tallymer">Tallymer</a></li>
                        <li><a href="/tools/turtle">Turtle</a></li>
                    </ul>
                </li>
            </ul>
            <div class="alert alert-success" style="bottom: 30px;position: fixed;">
                <strong>Ayuda: </strong><br><br>
                <a href="#">Video </a><br>
                <a href="#">Tutorial </a><br>
            </div>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="col-sm-9" style="border-left: solid rgb(80, 121, 150) 1px;">
        {% endif %}
            {% block content %}{% endblock %}
        {% if user.is_authenticated %}
        </div>
        {% endif %}
    </div>        
</div>
</body>
</html>
