{% extends "base.html" %}
{% block content %}
        <h1>
            KHMer
        </h1>
        <p style="text-align: justify;">
            Este método utiliza una estructura de datos probabilísticas llamada Count-Min Sketch, la cual se basa en un Bloom filter y el uso de múltiples tablas hash para detectar los kmers que se repiten más de 1 vez y contarlos. Este método se divide en 3 pasos: primero crea una cantidad determinada de tablas hash (según la cantidad máxima de falsos positivos deseados). El segundo paso verifica la repetición de kmers con el “bloom filter”. Finalmente en el tercer paso se insertan los kmers y se aumenta el conteo.
        </p>
        <a href="https://github.com/dib-lab/khmer" target="_blank">Código Fuente</a>
        <hr>
        <div class="row" style="text-align:center;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form id='form' action="/run/bfcounter/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_file">Archivo de kmers:</label>
                        <select class="form-control" id="id_file" name="reference"  required>
                            <option value="">seleccione un archivo</option>
                            {% for f in fileList %}
                                <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                            {% endfor %}
                        </select>* seleccione un archivo subido previamente<br><br>
                        <label for="id_k" data-toggle="tooltip" title="max: 63">Tamaño de los kmers (k):</label>
                        <input type="number" class="form-control" name="k" id="id_k" min="1" max="63" ><br>
                        <label for="id_numKmers" data-toggle="tooltip" title="max: 63">Cantidad estimada de kmers:</label>
                        <input type="number" class="form-control" name="numKmers" id="id_numKmers" min="1" max="9223372036854775807"><br>
                    </div>
                    <input type='hidden' name='mapping' id='id_mapping' value='1'>
                    <input type='hidden' name='type' id='id_type' value='2'>
                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
            
        </div>

{% endblock %}