{% extends "base.html" %}
{% block content %}
        <h1>
            MSPKmerCounter
        </h1>
        <p style="text-align: justify;">
            Este método se basa en un una técnica llamada minimum substring partitioning (MSP) la cual divide las lecturas en super-kmers, que son cadenas que agrupan kmers que poseen el mismo minimizer;  siendo este minimizer la sub-cadena (de longitud fija menor a “k”) con el menor peso lexicográfico de un kmer. El almacenamiento de los super-kmers se realiza particionando el disco, de tal forma que aquellos super-kmers que posean el mismo minimizer serán almacenados en la misma partición. A continuación del almacenamiento particionado de los super-kmers viene una etapa que se encarga de leer estas particiones, dividir los super-kmers y obtener los kmers para insertarlos en una tabla hash, hacer el conteo de cada inserción y finalmente guardar el conteo en disco.
        </p>
        <a href="http://www.cs.ucsb.edu/~yangli/MSPKmerCounter/download.html" target="_blank">Código Fuente</a>
        <hr>
        <div class="row" style="text-align:center;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form id='form' action="/run/bfcounter/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_file">Archivo de kmers:</label>
                        <select class="form-control" id="id_file" name="reference"  required>
                            <option value="">seleccione un archivo</option>
                            {% for f in fileList %}
                                <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                            {% endfor %}
                        </select>* seleccione un archivo subido previamente<br><br>
                        <label for="id_k" data-toggle="tooltip" title="max: 63">Tamaño de los kmers (k):</label>
                        <input type="number" class="form-control" name="k" id="id_k" min="1" max="63" ><br>
                        <label for="id_numKmers" data-toggle="tooltip" title="max: 63">Cantidad estimada de kmers:</label>
                        <input type="number" class="form-control" name="numKmers" id="id_numKmers" min="1" max="9223372036854775807"><br>
                    </div>
                    <input type='hidden' name='mapping' id='id_mapping' value='1'>
                    <input type='hidden' name='type' id='id_type' value='2'>
                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
            
        </div>

{% endblock %}