{% extends "base.html" %}
{% block content %}
<h3>Comando:</h3>
<pre>{{p.comando}}</pre>
<hr>
	<h2>Resultados</h2>
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#resultado">Texto</a></li>
		<li><a data-toggle="tab" href="#grafica">Gráfica</a></li>
		<li><a data-toggle="tab" href="#errores">Standar Error</a></li>
		<li><a data-toggle="tab" href="#salida">Standar Output</a></li>
	</ul>

	<div class="tab-content">
		<div id="resultado" class="tab-pane fade in active">
			<div class="row">
			    <div class="col-sm-10"><h3>Archivo de salida</h3></div>
			    <div class="col-sm-2">
			    	<br>
			    	<a href="/files/{{p.resultado.id}}/">
			    		<span class="label label-success">Descargar archivo</span>
			    	</a>
			    </div>
			</div>
			<pre style="overflow-y: scroll;max-height: 300px;">{{p.get_resultado}}</pre>
		</div>
		<div id="errores" class="tab-pane fade">
			<h3>Errores y advertencias</h3>
    		<pre>{% if "" == p.std_err %}El comando no devolvió errores o advertencias
    		{% else %}
    			{{p.std_err}}
    		{% endif %}</pre>
		</div>
		<div id="salida" class="tab-pane fade">
			<h3>Salida del comando</h3>
    		<pre>{% if "" == p.std_out %}El comando no devolvió mensajes
    		{% else %}
    			{{p.std_out}}
    		{% endif %}</pre>
		</div>
		<div id="grafica" class="tab-pane fade">
			<br><div class="alert alert-danger" role="alert">
				El tiempo de generación de la grafica dependerá de la cantidad de datos a mostrar.
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-10">
					<div id="container" style="min-width: 700px; height: 400px; margin: 0 auto;"></div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-2">
					<div class="alert alert-success" role="alert" style="padding: 5px;font-size: 12px;text-align: justify;"> 
						<p style="font-weight: bold;">ZOOM:</p>
						para hacer ZOOM a una region de la grafica, seleccione la zona a ampliar mediante clic sostenido.
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function () {
				    $('#container').highcharts({
				        title: {
				            text: 'Gráfica de frecuencia de kmers',
				            x: -20 //center
				        },
				        /*subtitle: {
				            text: 'Source: WorldClimate.com',
				            x: -20
				        },*/
				        chart: {
				        	zoomType: 'x'
				        },
				        xAxis: {
				            categories: [{% if "Tallymer" == p.contador %}{% for key, value in p.get_kmer_dict %}'{{value}}',{% endfor %}{% else %}{% for key, value in p.get_kmer_dict %}'{{key}}',{% endfor %}{% endif %}]
				        },
				        yAxis: {
				            title: {
				                text: 'Repeticiones'
				            },
				            plotLines: [{
				                value: 0,
				                width: 1,
				                color: '#808080'
				            }]
				        },
				        tooltip: {
				            valueSuffix: ' repeticiones',
    						crosshairs: [true,true]
				        },
				        legend: {
				            layout: 'vertical',
				            align: 'right',
				            verticalAlign: 'middle',
				            borderWidth: 0
				        },
				        series: [{
				            name: 'Conteo',
				            data: [{% if "Tallymer" == p.contador %}{% for key, value in p.get_kmer_dict %}{{key}},{% endfor %}{% else %}{% for key, value in p.get_kmer_dict %}{{value}},{% endfor %}{% endif %}]
				        }]
				    });
				});
			</script>
		</div>
	</div>
{% endblock %}